#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

image {
  max-width: 30%;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  outline: 2px solid purple;

}